{% extends 'base.html' %}
{% block content %}
{% if orders|length > 0 %}
<table class="table">
	<tr>
		<th scope="col">Order ID</th>
		<th scope="col">Purchaser</th>
		<th scope="col">Seller</th>
		<th scope="col">Status</th>
	</tr>
	{% for order in orders %}
	<tr>
		<td scope="row">{{ order.id }}</td>
		<td>{{ order.purchaser.username }}</td>
		<td>{{ order.seller.username }}</td>
		{% if order.checked %}
		<td>Completed</td>
		{% else %}
		<td>Pending</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
<p>Delete an order or all orders: <a href="{{ url_for("delete_orders", id="None") }}" class="link-underline link-underline-opacity-0">Delete</a></p>
{% else %}
<p><i>No orders to show</i></p>
{% endif %}
<p>View and modify users: <a href="{{ url_for("delete_users", id="None") }}" class="link-underline link-underline-opacity-0">View</a>
{% endblock %}
