{% extends 'base.html' %}
{% block content %}
	<div class="text-bg-light p-3">
		<img src="{{ resp.get('current').get('condition').get('icon') }}">
		<p>Hello {{ user.username  }}<br>The weather today at {{ resp.get('location').get('name') }} is {{ resp.get('current').get('condition').get('text') }}, {{ resp.get('current').get('temp_c') }} &deg;C</p>
	</div>
	<div>
		<h4>Most recent orders</h4><hr>
		{% if orders %}
		<table class=table>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Vendor</th>
				<th scope="col">Vendor Contact</th>
				<th scope="col">Vendor County</th>
				<th scope="col">Status</th>
			</tr>
			{% for order in orders %}
			<tr>
				<td scope="row">{{order.id }}</td>
				<td>{{ order.seller.username }}</td>
				<td>{{ order.seller.phone_number }}</td>
				<td>{{ order.seller.county }}</td>
				{% if order.checked %}
				<td>Completed</td>
				{% else %}
				<td>Pending</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		<a href="{{ url_for("main.my_orders") }}" class="text-decoration-none">View all orders placed</a>
		{% else %}
		<p><i>You have no reccent orders</i></p>
		{% endif %}
		<p>Want to place a new order? <a href="{{ url_for("main.place_order", county=current_user.county) }}" class="text-decoration-none">Order Here</a>. You can narrow down your search by entering a filter county below:</p>
		<form action='' method='post'>
		{{ form.hidden_tag() }}
		<p>
			{{ form.county.label(class="form-label") }}<br>
			{{ form.county(class="form-control") }}<br>
			{% for error in form.county.errors %}
				<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
		</p>
		<p>{{ form.submit(class="btn btn-primary") }}</p>
		</form>
	</div>
{% endblock %}
