{% extends 'base.html' %}
{% block content %}
	<h1>Edit Profile</h1>
	<form action='' method='post'>
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label(class="form-label") }}<br>
			{{ form.username(class="form-control") }}<br>
			{% for error in form.username.errors %}
				<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
		</p>
		<p>
			{{ form.county.label(class="form-label") }}<br>
			{{ form.county(class="form-control") }}<br>
			{% for error in form.county.errors %}
				<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
		</p>
		<p>
			{{ form.phone_number.label(class="form-label") }}<br>
			{{ form.phone_number(class="form-control") }}<br>
			{% for error in form.phone_number.errors %}
				<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
		</p>
		<p>{{ form.submit(class="btn btn-primary") }}</p>
	</form>
{% endblock %}
