{% extends 'base.html' %}
{% block content %}
<div class="mx-auto p-2" style="max-width: 80%; width: 400px;">
	<h3 class="text-center">Sign In</h3>
	<form action='' method='post' novalidate>
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.email.label(class="form-label") }}<br>
		{{ form.email(class="form-control") }}
		{% for error in form.email.errors %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
		{% endfor %}
	</div>
	<div class="form-group">
		{{ form.password.label(class="form-label") }}</br>
		{{ form.password(type="password", class="form-control") }}<br>
		{% for error in form.password.errors %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
		{% endfor %}
	</div>
	<p>{{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}</p>
	<p>{{ form.submit(class="btn btn-primary btn-block") }}</p>
	</form>
	<p><a href="{{ url_for("reset_request") }}" class="text-danger">Forgot password?</a></p>
	<p>Need an account? <a href="{{ url_for('register') }}" class="text-decoration-none">Click to Register</a></p>
</div>
{% endblock %}
