{% extends 'base.html' %}
{% block content %}
	{% if orders|length > 0 %}
		<table class="table">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Purchaser Name</th>
				<th scope="col">Purchaser Phone</th>
				<th scope="col">Order Status</th>
			</tr>
			{% for order in orders %}
			<tr>
				<td scope="row">{{ order.id }}</td>
				<td>{{ order.purchaser.username }}</td>
				<td>{{ order.purchaser.phone_number }}</td>
				{% if order.checked %}
				<td>Completed</td>
				{% else %}
				<td>Pending</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p><i>You have no orders yet</i></p>
	{% endif %}
{% endblock %}
