{% extends 'base.html' %}
{% block content %}
	{% if sellers|length > 0 %}
	<table class="table">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Phone Number</th>
			<th scope="col">County</th>
		</tr>
		{% for seller in sellers %}
		<tr>
			<td scope="row">{{ seller.id }}</td>
			<td>{{ seller.username }}</td>
			<td>{{ seller.phone_number }}</td>
			<td>{{ seller.county }}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
		<p><i>There are no vendors in your location</i></p>
	{% endif %}
	<p>Want to see all vendors? <a href="{{ url_for("place_order", county="all") }}">show</a></p>
	<form action='' method='post'>
	{{ form.hidden_tag() }}
	<p>
		{{ form.id.label }}<br>
		{{ form.id() }}<br>
		{% for error in form.id.errors %}
		<span style="color: red">{{ error }}</span>
		{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
	</form>

{% endblock %}
