{% extends 'base.html' %}
{% block content %}
	<div class="d-flex">
		<img class="rounded-circle mt-2" style="height: 125px; width: 125px" src="{{ image }}">
		<div display="block" style="margin: 0 14px">
			<h4>User Details</h4>
			<h5>Email Address</h5>
			<p>{{ user.email }} </p>
			<h5>County</h5>
			<p>{{ user.county }}</p>
			<h5>Phone Number</h5>
			<p>{{ user.phone_number }}</p>
		</div>
	</div>

	<a href="{{ url_for("main.edit_profile") }}" class="btn btn-info m-2">Edit Profile</a>
	<a href="{{ url_for("main.delete_me") }}" class="btn btn-danger  m-2">Delete Account</a>
{% endblock %}
