{% extends 'base.html' %}
{% block content %}
	<div class="text-bg-light p-3">
		<img src="{{ resp.get('current').get('condition').get('icon') }}">
		<p>Hello {{ user.username  }}<br> The weather today at {{ resp.get('location').get('name') }} is {{ resp.get('current').get('condition').get('text') }}, {{ resp.get('current').get('temp_c') }} &deg;C</p>
	</div>
	<div>
		<h4> Pending Orders</h4><hr>
		<ul>
			{% if orders %}
			<table class="table">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Buyer Name</th>
					<th scope="col">Buyer's Phone</th>
				</tr>
				{% for order in orders %}
				<tr>
					<td scope="row">{{ order.id }}</td>
					<td>{{ order.purchaser.username }}</td>
					<td>{{ order.purchaser.phone_number }}</td>
				</tr>
				{#<li>{{ order }}</li>#}
				{% endfor %}
			</table>
			{% else %}
			<p><i>You have no pending orders</i></p>
			{% endif %}
		</ul>
		<p>Want to see order history? <a href="{{ url_for("order_history") }}" class="text-decoration-none">Click Here</a></p>
		<p>Completed an order? Enter the order ID below to tick it off.</p>
		<form action='' method='post'>
		{{ form.hidden_tag() }}
		<p>
			{{ form.id.label }}<br>
			{{ form.id() }}<br>
			{% for error in form.id.errors %}
			<span style="color: red">{{ error }}</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
		</form>
	</div>
{% endblock %}
