{% extends 'base.html' %}
{% block content %}
	<h1>Seller's Page</h1>
	<div style="display: inline-flex; justify-content: center; content-align: center; border: 1px solid black; background: #87CEEB; padding: 0px 40px">
		<img src="{{ resp.get('current').get('condition').get('icon') }}">
		<p><b>Hello</b> {{ user.username  }} the weather today at {{ resp.get('location').get('name') }} is {{ resp.get('current').get('condition').get('text') }}</p>
	</div>
	<div>
		<h3> Pending Orders</h3>
		<ul>
			{% if orders %}
			<table class="table">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Buyer Name</th>
					<th scope="col">Buyer's Phone</th>
				</tr>
				{% for order in orders %}
				<tr>
					<td scope="row">{{ order.id }}</td>
					<td>{{ order.purchaser.username }}</td>
					<td>{{ order.purchaser.phone_number }}</td>
				</tr>
				{#<li>{{ order }}</li>#}
				{% endfor %}
			</table>
			{% else %}
			<p><i>You have no pending orders</i></p>
			{% endif %}
		</ul>
		<p>Want to see order history? <a href="{{ url_for("order_history") }}">Click Here</a></p>
		<p>Completed an order? Enter the order ID below to tick it off.</p>
		<form action='' method='post'>
		{{ form.hidden_tag() }}
		<p>
			{{ form.id.label }}<br>
			{{ form.id() }}<br>
			{% for error in form.id.errors %}
			<span style="color: red">{{ error }}</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
		</form>
	</div>
{% endblock %}
