{% extends 'base.html' %}
{% block content %}
{% include 'weather_forecast.html' %}
	<div>
		<h4> Pending Orders</h4><hr>
			{% if orders %}
			<table class="table">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Buyer Name</th>
					<th scope="col">Buyer's Phone</th>
				</tr>
				{% for order in orders %}
				<tr>
					<td scope="row">{{ order.id }}</td>
					<td>{{ order.purchaser.username }}</td>
					<td>{{ order.purchaser.phone_number }}</td>
				</tr>
				{#<li>{{ order }}</li>#}
				{% endfor %}
			</table>
			{% else %}
				<p><i>You have no pending orders</i></p>
			{% endif %}
		<p>Want to view your order history? Click below.</p>
		<a href="{{ url_for("main.order_history") }}" class="btn btn-sm btn-outline-info mb-2">Click Here</a>
		<p class="pt-2">Already completed an order? Enter the order ID below to mark it as fulfilled.</p>
		<form action='' method='post'>
		{{ form.hidden_tag() }}
		<p>
			{{ form.id.label(class="form-label") }}<br>
			{{ form.id(class="form-control") }}<br>
			{% for error in form.id.errors %}
				<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
		</p>
		<p>{{ form.submit(class="btn btn-primary") }}</p>
		</form>
	</div>
{% endblock %}
