{% if orders|length > 0 %}
<table class="table">
	<tr>
		<th scope="col">Order ID</th>
		<th scope="col">Purchaser</th>
		<th scope="col">Seller</th>
		<th scope="col">Status</th>
	</tr>
	{% for order in orders %}
	<tr>
		<td scope="row">{{ order.id }}</td>
		<td>{{ order.purchaser.username }}</td>
		<td>{{ order.seller.username }}</td>
		{% if order.checked %}
		<td>Completed</td>
		{% else %}
		<td>Pending</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% else %}
<p><i>No orders</i></p>
{% endif %}
